@import '@srgssr/pillarbox-web/dist/pillarbox.min.css';
@import "open-props/open-props.min.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --brand-color: var(--red-11);
  --text-color-1: var(--gray-3);
  --text-color-2: var(--gray-4);
  --surface-color-1: var(--gray-8);
  --surface-color-2: var(--gray-7);
  --surface-color-3: var(--gray-6);
  --surface-color-4: var(--gray-5);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars */
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  color: var(--text-color-1);
  font-size: var(--size-5);
  font-family: var(--font-sans);
  background-color: var(--surface-color-1);

  background: radial-gradient(#e66465, #9198e5);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-9);
  line-height: var(--font-lineheight-1);
}

h1 {
  margin: 0;
  text-align: center;
  text-shadow: 2px 3px 0 var(--gray-10);
}

@media screen and (width <= 768px) {
  h1 {
    font-size: var(--size-7);
  }
}

.start-btn {
  padding: var(--size-5) var(--size-10);
  font-size: var(--size-7);
  font-weight: var(--font-weight-9);
  line-height: var(--font-lineheight-1);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  width: var(--size-15);
  height: var(--size-15);

  background-color: var(--gray-3);
  color: var(--gray-12);
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.start-btn:hover {
  background-color: var(--gray-4);
  transform: scale(1.1);
}

.start-btn:active {
  transform: scale(0.95);
}

/* Icons */
.start-btn::before {
  font-family: 'Material Icons';
  font-size: var(--size-8);
  content: "play_arrow"; /* Default icon */
}

.start-btn.listen::before {
  content: "mic";
}

.start-btn.loading {
  animation: var(--animation-pulse);
}

.start-btn.loading::before {
  content: "autorenew";
  animation: var(--animation-spin);
}

.start-btn.loading:hover {
  transform: none;
}

.start-btn.start::before {
  content: "play_arrow";
}

.start-btn.playing::before {
  content: "graphic_eq";
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--size-5);
}

.player-container {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  z-index: -1;
}

.pillarbox-js {
  background-color: transparent;
}

.current-time {
  font-weight: var(--font-weight-9);
  line-height: var(--font-lineheight-1);
}

.hidden {
  display: none;
}
